<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>543801162996-brbugf4dn8a6nb6pc72as29dho7a37ma.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.543801162996-brbugf4dn8a6nb6pc72as29dho7a37ma</string>
	<key>API_KEY</key>
	<string>AIzaSyA0dGAP-l6qBn_XIUUcGosPDNeqK_P9eDE</string>
	<key>GCM_SENDER_ID</key>
	<string>543801162996</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.mindydaesy</string>
	<key>PROJECT_ID</key>
	<string>authenticationlogin-482f3</string>
	<key>STORAGE_BUCKET</key>
	<string>authenticationlogin-482f3.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:543801162996:ios:c89e5d27d745d94f1df2a1</string>
</dict>
</plist>