
AuthenticationFirebase.xcodeproj/xcuserdata/daesyvences.xcuserdatad/xcschemes/xcschememanagement.plist

AuthenticationFirebase.xcodeproj/project.xcworkspace/xcuserdata/daesyvences.xcuserdatad/UserInterfaceState.xcuserstate
